<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CPUT Project </title>
</head>
<body>
<h1>Add User Card Form</h1>
<br>
<hr>
<div >
	<form th:action="@{/userCard/save}" th:object="${userCard}" method="post">
		<table>
			<tr><td>Card Name : </td><td><input type="text" th:field="*{name}"/></td></tr>
			<tr><td> Description : </td><td> <input type="text" th:field="*{description}"/></td></tr>
			<tr><td> </td><td> <input type="submit" value="Add New User Card"/></td></tr>
		</table>
	</form>
</div>
</body>
</html>