<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CPUT Project </title>
</head>
<body>
	<h1>User Details</h1>
<br>
<hr>

<form th:action="@{/user/save}" th:object="${user}" method="post">
	<table>
		<tr><td>First name : </td><td><input type="text" th:field="*{firstName}"/></td></tr>
		<tr><td> Last name : </td><td><input type="text" th:field="*{lastName}"/></td></tr>
		<tr><td> Phone : </td><td><input type="text" th:field="*{phone}"/></td></tr>
		<tr><td> Email : </td><td><input type="text" th:field="*{email}"/></td></tr>
		<tr><td> Password : </td><td><input type="password" id="password" autocomplete="off"  th:field="*{password}"/></td></tr>
		<tr><td> </td><td><input type="submit" value="Sign Up"/></td></tr>
	</table>
</form>
</body>
</html>