<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CPUT Project </title>
</head>
<body>
<h1>Add Bus Form</h1>
<br>
<hr>
<div >
	<form th:action="@{/bus/save}" th:object="${bus}" method="post">
		<table>
			<tr><td>Bus Name : </td><td><input type="text" th:field="*{name}"/></td></tr>
			<tr><td> Description : </td><td> <input type="text" th:field="*{description}"/></td></tr>
			<tr><td> </td><td> <input type="submit" value="Add New Bus"/></td></tr>
		</table>
	</form>
</div>
</body>
</html>