<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Card Management Page</title>
</head>
<body th:style="'background: url(/img/card.jpg) no-repeat center center fixed;'">
<div align="center">
	<h1> Cards List</h1>
	<table border="1">
		<thead>
		<tr>
			<th> Card Number</th>
			<th> Issue Date</th>
			<th> Card Color</th>
			<th> Card Balance</th>
			<th> Edit</th>
			<th> Delete</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="card : ${listOfCards}">
			<td th:text="${card.id}"></td>
			<td th:text="${card.issueDate}"></td>
			<td th:text="${card.cardColor}"></td>
			<td th:text="${card.balance}"></td>
			<td><a th:href="@{/card/updateform/{id}(id=${card.id})}">Edit</a></td>
			<td><a th:href="@{/card/delete/{id}(id=${card.id})}">Delete</a></td>
		</tr>
		</tbody>
	</table>
</div>
<div align="center">
	<a th:href="@{/card/form}"><h4> Add New Details</h4></a>
</div>
</body>
</html>