<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CPUT Project </title>
</head>
<body>
<h1>Add User Identification Form</h1>
<br>
<hr>

<form th:action="@{/userIdentification/save}" th:object="${userIdentification}" method="post">
	<table>
		<tr><td>Name : </td><td><input type="text" th:field="*{name}"/></td></tr>
		<tr><td> Description : </td><td> <input type="text" th:field="*{description}"/></td></tr>
		<tr><td> </td><td> <input type="submit" value="Add New User ID "/></td></tr>
	<tr><td></td><td> <input type="submit" value="Add New User Identification"/></td></tr>
	</table>
</form>
</body>
</html>