<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Routes Management Page</title>
</head>
<body th:style="'background: url(/img/metro-bus-route.jpg) no-repeat center center fixed;'">
<div align="center">
	<h1> Bus Routes List</h1>
	<table border="1">
		<thead>
		<tr>
			<th> Route Number</th>
			<th> Route Name</th>
			<th> Route Description</th>
			<th> Edit</th>
			<th> Delete</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="rte : ${listOfRoutes}">
			<td th:text="${rte.id}"></td>
			<td th:text="${rte.name}"></td>
			<td th:text="${rte.description}"></td>
			<td><a th:href="@{/busRoute/updateform/{id}(id=${rte.id})}">Edit</a></td>
			<td><a th:href="@{/busRoute/delete/{id}(id=${rte.id})}">Delete</a></td>
		</tr>
		</tbody>
	</table>
</div>
<div align="center">
	<a th:href="@{/busRoute/form}"><h4> Add New Details</h4></a>
</div>
</body>
</html>