<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Bus Management Page</title>
</head>
<body th:style="'background: url(/img/bus.jpg) no-repeat center center fixed;'">
<div align="center">
	<h1> User IdentificationHistory List</h1>
	<table border="1">
		<thead>
		<tr>
			<th> Number</th>
			<th> Name</th>
			<th> Description</th>
			<th> Edit</th>
			<th> Delete</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="ccap : ${listOfUserIdentificationHistory}">
			<td th:text="${ccap.id}"></td>
			<td th:text="${ccap.name}"></td>
			<td th:text="${ccap.description}"></td>
			<td><a th:href="@{/userIdentificationHistory/updateform/{id}(id=${ccap.id})}">Edit</a></td>
			<td><a th:href="@{/userIdentificationHistory/delete/{id}(id=${ccap.id})}">Delete</a></td>
		</tr>

		</tbody>
	</table>
</div>
	<div align="center">
		<a th:href="@{/userIdentificationHistory/form}"><h4> Add New Details</h4></a>
	</div>

</body>
</html>